@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');d
*{
    margin : 0;
    padding : 0;
}
.sidebar{
    background-color: purple;
    width : 20vw;
    font-family: Playfair;
}
.main{
    background-color: red;
    width : 80vw;
}
.container{
    display: flex;
}