@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin : 0;
    padding : 0;
}
.wrapper{
 width:100%;
}
.sidebar{

    background-color:rgb(43,44,90);
    width : 20vw;
    font-family: 'Playfair Display' , serif ;
    height : 100vh;
}
.sidebar nav {
    padding : 20px ;
}
.sidebar nav li{
    list-style : none ;
    font-size : 38px ;
    padding : 33px 0 ;

}
.sidebar nav li a{
    text-decoration: none;
    color : white ;
}
.main{
 /*   background-color:rgb(43,44,90);
*/
    background-color: rgb(242, 210, 189);
    width : 80vw;
    height :100vh;
}
.container{
    display: flex;
}
.infocon{
    display: flex;
    flex-direction: column;
 margin :  144px auto ;
 height : 500px;
 width : 1000px ;
 justify-content: space-around;
}
.devInfo{
    background-color: red;
    display : flex ;
    justify-content : center ;
    flex-direction: column;
    padding: 3px auto auto 20px ;
}
.hello{
 font-size: 75px;
 font-family: "Roboto Slab", serif;

}
.name{
font-size: 50px ;
font-family: bold ;

}
.about{
font-size: 35px;
}
.moreabout{
    font-family: "Barlow", sans-serif;
}
.buttons{
    margin-top: 35px;
}
.buttons button{
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    color: rgb(27, 148, 169);
    color: white;
    background-color: rgb(216, 129, 92);
    font-size: 21px;

}
.buttons button:hover{
    background-color: white;
    color: rgb(216, 129, 92);
}
.contactform{
    padding-top:100px;
    font-family: 'Playfair Display' , serif ;
    
}
.contactform h3,h1{
    text-align: center;
}
.mb-3{
    padding:30px;
    display: flex ;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}
.form-control{
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    padding: 5px;
    width: 555px;
    height: 20px;
    border-radius: 7px;
}
.submit{
    padding: 30px;
}
.btn.btn-primary{
    background-color: rgb(216, 129, 92) ;  
    color:white;  
    padding: 1px;
    width: 100px;
    height: 32px;
    border-radius: 7px;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}
.btn.btn-primary:hover{
    color: rgb(216, 129, 92) ;  
    background-color:white;   
}

.introduction{
    font-family: "Roboto Slab", serif;
    text-align: center;
    padding: 30px;
    font-size: 25px
}
.content{
    font-size :25px; 
    padding: 35px;
    margin: 12px
}